doctype html
html
  head
    title private chat
    style.
     * { margin: 0; padding: 0; box-sizing: border-box; }
      body {
        background-image: linear-gradient(to right top, #d16b6b, #b15d74, #8c5374, #664b6a, #464057, #3a3647, #2f2c38, #242329, #1e1c20, #171517, #0f0c0d, #000000);
        background-repeat: no-repeat;
        background-size: cover;
        width:100vw;
        height: 100vh;
        display:flex;
        align-items:center;
        justify-content:center;
      }
      #home {
       position: absolute;
          top: 0;
          padding: 5px 10px 10px 10px;
          border: 1px solid rgb(255, 253, 253);
          border-radius: 5px;
          color: #8c5374;
      }
      #onlineUsers {
          position: absolute;
          top: 0;
          left:0;
          padding: 5px 10px 10px 10px;
          border: 1px solid rgb(255, 255, 255);
          border-radius: 5px;
          color: white;
      }

      #userId{
        color: #8c5374;
      }

      .btn-primary{
          background-color: #b15d74;
      }

      #onlineUser { list-style: none; color: #8c5374; text-decoration: none; margin: 5px; text-align: center}
      form { display:flex; flex-direction:column;position: absolute;bottom: 0;width: 50%; }
      form input {width: 100%;height: 50px;}
      form button {width: 100%;height: 50px;margin-top: 10px; margin-bottom:20px; }
      #messages { border:1px solid black; list-style:none; width: 50%;height: 50%;overflow-x: auto; }
      #messages li { 
          padding: 5px 10px;
          color: white;
     }
      #messages li:nth-child(odd) { background:palevioletred; }
  block body
    a(id='home', href='/') RETURN HOME
    ul#messages
      each message in messages
        li= message.user + ' at ' + new Date(message.time).toISOString().slice(0, 16).replace('T', ' ') + ' :  ' + message.content
    div#onlineUsers
      p Private chat with
        span= ' ' + sender + ' and '
        span= receiver
    form(action='')
      input#m(autocomplete='off')
      button Send
    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script.
      var user = !{JSON.stringify(user)};
      var time = !{JSON.stringify(time)};
      var sender = !{JSON.stringify(sender)};
      var receiver = !{JSON.stringify(receiver)};
      $(function () {
      var socket = io();
      socket.emit('authenticate', user);
      socket.emit('room', {users: [sender, receiver], sockets: [], messages: []});
      socket.on('room', function(roomId){
      $('form').submit(function(){
      socket.emit('private message', {user, time, content: $('#m').val(), roomId});
      $('#m').val('');
      return false;
      });
      });
      socket.on('private message', function({user, time, content}){
      $('#messages').append($('<li>').text(user + ' at ' + new Date(time).toISOString().slice(0, 16).replace('T', ' ') + ' :  ' + content));
      window.scrollTo(0, document.body.scrollHeight);
      });
      });
